.base_point {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 12px;
    border: 1px solid salmon;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.base_point.active {
    background-color: salmon;
    color: white;
    z-index: 10;
}
.point__value {
}
.point__time {
}
